

body {
    width: 210mm;
    height: 297mm;
    margin-left:10px ;
    border: 2px solid #000000;
    padding-left: 20px;
    font-family: 'Georgia', sans-serif; 
}

.content-container {
    display: flex;
    align-items: center;
}

.image-container img {
    width: 60mm;
    height: 70mm;
    padding-top: 5mm;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.prof{
    font-weight:normal;
    text-align: justify;
    padding-right: 15px;
}



.Pexp{
    margin-left: 25%; 
}